{
  "extends": "standard",
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "react",
    "react-native"
  ],
  "rules": {
    "strict": [2, "never"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2
  },
  "globals": {
    "alert": true,
    "fetch": true
  }
}